/* ICONS */

.icon:before{
	padding-right: 10px;
}
.i-lang-en:before{
	content: "🇬🇧";
}
.i-lang-nl:before{
	content: "🇳🇱";

}
.i-make-wallet:before{
	content: "💰";
}
.i-get-started:before{
	content: "🚀";
}
.i-more-info:before{
	content: "🧐";
}
.i-report-bike:before{
	content: "🔧";
}
.i-unlock-bike:before{
	content: "🔓";
}
.i-my-wallet:before{
	content: "💰";
}
.i-my-area:before{
	content: "🗺";
}
.i-find-bike:before{
	content: "🚲";
}
.i-bike:before{
	content: "🚲";
}
.i-unit-velo:before{
	content: "🚲";
}
.i-unit-eth:before{
	content: "🛢";
}
	.i-unit-velo:after{
		font-size: .5em;
		content: " VELO";
	}
	.i-unit-eth:after{
		font-size: .5em;
		content: " ETH";
	}
.i-buy-velo:before{
	content: "💳";
}
.i-sell-velo:before{
	content: "💸";
}
.i-add-receipt:before{
	content: "📃";
}
.i-buy-for-eth:before{
	content: "⛏";
}
.i-buy-for-cash:before{
	content: "💶";
}
.i-rent-start:before{
	content: "⏱";
}
.i-rent-stop:before{
	content: "🛑";
}
.i-bike-id:before{
	content: "🚲";
}
.i-zip-code:before{
	content: "📫";	
}
.i-local-rules:before{
	content: "🏛";
}
.i-local-proposals:before{
	content: "🗳";
}
.i-local-shops:before{
	content: "🏬";
}
.i-change-area:before{
	content: "";
}
.i-home:before{
	content: "🏠";
}




