* {
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
body{
	width: 100%;
	max-width: 640px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/*font-weight: bold;*/
	font-size: 3vh;
	/*letter-spacing: -1px;*/
}
nav {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: top;
	bottom: 0em;
	left: 0;
	width: 100%;
	height: 4.35em;
	z-index: 999;
	border-top: medium solid;
	background-color: white;
	padding: .3em 0;
} 

	nav a{
		color: inherit;
		font-size: .6em;
		letter-spacing: 0;
		text-align: center;
	}
	nav a.icon:before{
		display: block;
		clear: both;
		font-size: 1.5em;
		text-align: center;
	}
.screen{
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	padding: 1em 1em 6em 1em;
	width: 100vw;
}

h1{
	font-size: 2em;
	line-height: 1em;
	padding: 0;
	margin: 0;		
}
h2{
	margin-top: 1em;
	margin-bottom: 0em;
}
h2, h3{
	font-size: 1em;
	line-height: 1em;
	width: 100%;
	padding: 0;
	margin-bottom: .5em;	
}
h4{

}
	h1:after{
		display: inline-block;
		content: "—";
		width: 100%;
	}
	h1.time, h1.start-time{
		text-align: center;
		font-size: 6em;
		letter-spacing: -.05em;
	}
	h1.time:after,  h1.start-time:after{
		display: none;
	}
	h2.bike-id{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.amount{
		text-align: center;
	}
	.amount:after{
		content: " EUR";
		font-size: 1em;
		letter-spacing: 0;
	}
	h1.amount{
		font-size: 20vw;
		display: inline-block;
		width: auto;
	}
	h1.amount:after{
		display: inline-block;
		width: auto;
		font-size: .25em;
	}
	
p, li{
	font-weight: 300;
	line-height: 1.5em;
	font-size: .75em;
	letter-spacing: 0px;
	margin-bottom: 1em;
	font-family:
	    SFMono-Regular, 
	    Menlo,
	    Monaco,
	    Consolas,
	    "Liberation Mono",
	    "Courier New",
	    monospace;
}
a {
	color: blue;
	font-size: inherit;
	text-decoration: none;
}
	a:hover, a:active{
		color: red;
	}
ol {
	list-style-type:decimal;
	margin-left: 1.5em;
}
ul{
	list-style-type: square;
	margin-left: 1em;
}
	ul li{
		margin-left: .5em;
	}
	li{
		font-weight: normal;
	}
strong{
	font-weight: bold;
}

a.menu-item{
	display: inline-block;
	color: black;
	width: 100%;
	border: medium solid;
	border-bottom: none;
	padding: 0.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: -5px;
}
	a.menu-item:hover, a.menu-item:active{
		background-color: rgba(220,220,255);
	}
	a.menu-item:hover,a.menu-item:active{
		background-color: rgba(220,220,255);
	}
	a.menu-item:nth-of-type(1){
		border-top-left-radius: .5em;
		border-top-right-radius:.5em;
	}
	a.menu-item:last-of-type{
		border-bottom-left-radius: .5em;
		border-bottom-right-radius: .5em;
		border-bottom: medium solid;
	}
a.stop-rent, a.start-rent{
	margin-top: 1em;
	padding: 1em;
	text-align: center;
	font-size: 1.5em;
}

.button{
	display: block;
	border-radius: .5em;
	line-height: 2em;
	background-color: #000;
	color: white;
	padding: .25em 2em;
	max-width: 20em;
	text-align: center;
	margin: 1em auto;
}
.button:hover, .button:active{
	background-color: #333;
	color: white;
}
	

.topbar{
	width: 100%;
	margin-bottom: 1em;
	text-align: center;
	font-size: 1em;
}
.topbar-home{
	height: auto;
	font-size: 1em;
	text-align: left;
}
	.topbar-home h1{
		width: auto;
	}

.menu-back{
	float: left;
}
	
.lang-switch{
	float: right;
}
input[type=text]{
	display: inline-block;
	border: .1em solid black;
	width: 40%;
	line-height: inherit;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	font-family: inherit;
	padding: .05em;
}
input[type=submit], button{
	display: inline-block;
	width: 100%;
	background-color: black;
	line-height: 1.5em;
	font-size: inherit;
	color: white !important;
	font-family: inherit;
	padding: .3em;
	border: none;
	font-weight: bold;
	border-radius: .3em;
	margin: 1em 0;

}
input[type=submit]:hover, button:hover{
	background-color: red;
}
.map{
	position: relative;
	display: block;
	width: 100%;
	height: calc(100vh - 12.5em);
	background-image: url("../img/map.png");
	background-position: center center;
	background-size: cover;
	border: medium solid;
	box-shadow: inset 0px 10px 40px black;
	border-radius: .5em;
}
	.marker{
		display: block;
		position: absolute;
		width: 2em;
		height: 2em;
		background-color: white;
		border: thick solid red;
		line-height: 1.5em;
		text-align: center;
		border-radius: 1em;
	}
	.marker:hover{
		background-color: #eee;
	}
	.marker:active{
		background-color: #ccc;
		transform-origin: center 4em;
		transform: scale(1.1);
	}
	.marker:before{
		position: absolute;
		left: .75em;
		top: 1.75em;
		content: "  ";
		height: 2em;
		border: medium solid red;

	}
	.marker:nth-child(1){		left: 30vw;		top: 8vh;	}
	.marker:nth-child(2){		left: 50vw;		top: 15vh;	}
	.marker:nth-child(3){		left: 40vw;		top: 30vh;	}
	
	.markerme{
		display:block;
		position: absolute;
		width:1em;
		height:1em;
		background-color: blue;
		border: thick solid white;
		line-height: 1.7em;
		text-align: center;
		border-radius: 1em;
		box-shadow: 0 0 0 0.5em rgba(0,0,255,0.2);
	}
	.markerme:hover{
		background-color: #0032FF;		
	}
	.markerme{ left:25vw;		top:20vh; }
	.map .menu-item{
		position: absolute;
		bottom: 1em;
		left: 1em;
		width: calc(100% - 2em);
		background-color: white;
		border-radius: .25em 
	}
	.map .menu-item:hover{
		background-color: #eee;
	}
	.map .menu-item:active{
		background-color: #ccc;
	}

.rule{
	position: relative;
	display: inline-block;
	color: black;
	width: 100%;
	border: medium solid;
	padding: 10px 10px 60px 10px;
	margin: 10px 0;
	border-radius: 10px;
	overflow: hidden;
}
	.rule-options{
		position: absolute;
		display: flex;
		justify-content: space-around;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.rule a{
		width: 50%;
		margin: 4px;
		padding: 4px;
		border: medium solid;
		font-size: .5em;
		border-radius: 5px;
		text-align: center;
	}
section{
	margin: 0em -1em;
	width: calc(100%+1em);
	padding: 1em;
}
section:nth-child(odd){
	background-color: #eee;
}
section label h2:after{
	display: none;
}
section label h2{
	margin: 0;
	display: inline-block;
	width: auto;
}
section input{
	display: none;
}

section label h2:before{
	content:  "▶︎" ;
	display: inline-block;
	margin-right: .5em;
}
section input:checked ~ label h2:before{
	content: "▼ ";
}section input:checked ~ label{
	margin-bottom: 1em;
}
	section input:checked ~ *{
		display: block;
	}
	section input:checked ~ label{
		display: block;
	}
	section input ~ *{
		display: none;
	}
	section input ~ label{
		display: block;
	}

.qr-demo{
	position: relative;
	margin: 1em auto;
	width: 10em;
	height: 10em;
	background-image: url("../img/qrcode.png");
	background-size: contain;
	background-position: center center;
}
	.qr-demo:after{
		content: "";
		position: absolute;
		left: -1em;
		top: 5em;
		display: block;
		width: 12em;
		height: .3em;
		background-color: red;
		border-radius: .5em;
		box-shadow: 0 0 1em red;
		animation-name: scan;
		animation-duration: 3s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	@keyframes scan{
		from {	transform: translateY(-5em);	} 
		to {	transform: translateY(5em);		}
	}
	
.bike-header{
	text-align: center;
}

.id{
	background-color: #FF9;
	padding: 1em;
	border-radius: .5em;
	text-align: center;
}

.inactive{
	opacity: .5;
	filter: grayscale(1);
}



